# Write Service (PostgreSQL)
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=products_db
WRITE_SERVICE_PORT=8080

# Read Service (MongoDB & Kafka)
MONGO_URI=mongodb://localhost:27017/products_read_db
KAFKA_BROKER=localhost:9092
READ_SERVICE_PORT=8081
